:root {
  --gap: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Extra small */

/* Columns */

[class*="col-"] {
  flex: 0 0 auto;
}

.col-xs {
  flex: 1 1 0;
  max-width: 100%;
}

.col-xs-1 {
  width: calc((100% / 12 * 1) - var(--gap));
  max-width: calc((100% / 12 * 1) - var(--gap));
}

.col-xs-2 {
  width: calc((100% / 12 * 2) - var(--gap));
  max-width: calc((100% / 12 * 2) - var(--gap));
}

.col-xs-3 {
  width: calc((100% / 12 * 3) - var(--gap));
  max-width: calc((100% / 12 * 3) - var(--gap));
}

.col-xs-4 {
  width: calc((100% / 12 * 4) - var(--gap));
  max-width: calc((100% / 12 * 4) - var(--gap));
}

.col-xs-5 {
  width: calc((100% / 12 * 5) - var(--gap));
  max-width: calc((100% / 12 * 5) - var(--gap));
}

.col-xs-6 {
  width: calc((100% / 12 * 6) - var(--gap));
  max-width: calc((100% / 12 * 6) - var(--gap));
}

.col-xs-7 {
  width: calc((100% / 12 * 7) - var(--gap));
  max-width: calc((100% / 12 * 7) - var(--gap));
}

.col-xs-8 {
  width: calc((100% / 12 * 8) - var(--gap));
  max-width: calc((100% / 12 * 8) - var(--gap));
}

.col-xs-9 {
  width: calc((100% / 12 * 9) - var(--gap));
  max-width: calc((100% / 12 * 9) - var(--gap));
}

.col-xs-10 {
  width: calc((100% / 12 * 10) - var(--gap));
  max-width: calc((100% / 12 * 10) - var(--gap));
}

.col-xs-11 {
  width: calc((100% / 12 * 11) - var(--gap));
  max-width: calc((100% / 12 * 11) - var(--gap));
}

.col-xs-12 {
  width: calc((100% / 12 * 12) - var(--gap));
  max-width: calc((100% / 12 * 12) - var(--gap));
}


/* Offset */

.col-xs-offset-1 {
  margin-left: calc(100% / 12 * 1);
}

.col-xs-offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.col-xs-offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.col-xs-offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.col-xs-offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.col-xs-offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.col-xs-offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.col-xs-offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.col-xs-offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.col-xs-offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.col-xs-offset-11 {
  margin-left: calc(100% / 12 * 11);
}

.col-xs-offset-12 {
  margin-left: calc(100% / 12 * 12);
}

/* Small */

@media screen and (min-width: 576px) {
 
  /* Columns */

  .col-sm {
    flex: 1 1 0;
    max-width: 100%;
  }
  
  .col-sm-1 {
    width: calc((100% / 12 * 1) - var(--gap));
    max-width: calc((100% / 12 * 1) - var(--gap));
  }
  
  .col-sm-2 {
    width: calc((100% / 12 * 2) - var(--gap));
    max-width: calc((100% / 12 * 2) - var(--gap));
  }
  
  .col-sm-3 {
    width: calc((100% / 12 * 3) - var(--gap));
    max-width: calc((100% / 12 * 3) - var(--gap));
  }
  
  .col-sm-4 {
    width: calc((100% / 12 * 4) - var(--gap));
    max-width: calc((100% / 12 * 4) - var(--gap));
  }
  
  .col-sm-5 {
    width: calc((100% / 12 * 5) - var(--gap));
    max-width: calc((100% / 12 * 5) - var(--gap));
  }
  
  .col-sm-6 {
    width: calc((100% / 12 * 6) - var(--gap));
    max-width: calc((100% / 12 * 6) - var(--gap));
  }
  
  .col-sm-7 {
    width: calc((100% / 12 * 7) - var(--gap));
    max-width: calc((100% / 12 * 7) - var(--gap));
  }
  
  .col-sm-8 {
    width: calc((100% / 12 * 8) - var(--gap));
    max-width: calc((100% / 12 * 8) - var(--gap));
  }
  
  .col-sm-9 {
    width: calc((100% / 12 * 9) - var(--gap));
    max-width: calc((100% / 12 * 9) - var(--gap));
  }
  
  .col-sm-10 {
    width: calc((100% / 12 * 10) - var(--gap));
    max-width: calc((100% / 12 * 10) - var(--gap));
  }
  
  .col-sm-11 {
    width: calc((100% / 12 * 11) - var(--gap));
    max-width: calc((100% / 12 * 11) - var(--gap));
  }
  
  .col-sm-12 {
    width: calc((100% / 12 * 12) - var(--gap));
    max-width: calc((100% / 12 * 12) - var(--gap));
  }

  /* Offset */

  .col-sm-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-sm-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-sm-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-sm-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-sm-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-sm-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-sm-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-sm-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-sm-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-sm-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-sm-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-sm-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}

/* Medium */

@media screen and (min-width: 768px) {
  
  /* Columns */
  
  .col-md {
    flex: 1 1 0;
    max-width: 100%;
  }
  
  .col-md-1 {
    width: calc((100% / 12 * 1) - var(--gap));
    max-width: calc((100% / 12 * 1) - var(--gap));
  }
  
  .col-md-2 {
    width: calc((100% / 12 * 2) - var(--gap));
    max-width: calc((100% / 12 * 2) - var(--gap));
  }
  
  .col-md-3 {
    width: calc((100% / 12 * 3) - var(--gap));
    max-width: calc((100% / 12 * 3) - var(--gap));
  }
  
  .col-md-4 {
    width: calc((100% / 12 * 4) - var(--gap));
    max-width: calc((100% / 12 * 4) - var(--gap));
  }
  
  .col-md-5 {
    width: calc((100% / 12 * 5) - var(--gap));
    max-width: calc((100% / 12 * 5) - var(--gap));
  }
  
  .col-md-6 {
    width: calc((100% / 12 * 6) - var(--gap));
    max-width: calc((100% / 12 * 6) - var(--gap));
  }
  
  .col-md-7 {
    width: calc((100% / 12 * 7) - var(--gap));
    max-width: calc((100% / 12 * 7) - var(--gap));
  }
  
  .col-md-8 {
    width: calc((100% / 12 * 8) - var(--gap));
    max-width: calc((100% / 12 * 8) - var(--gap));
  }
  
  .col-md-9 {
    width: calc((100% / 12 * 9) - var(--gap));
    max-width: calc((100% / 12 * 9) - var(--gap));
  }
  
  .col-md-10 {
    width: calc((100% / 12 * 10) - var(--gap));
    max-width: calc((100% / 12 * 10) - var(--gap));
  }
  
  .col-md-11 {
    width: calc((100% / 12 * 11) - var(--gap));
    max-width: calc((100% / 12 * 11) - var(--gap));
  }
  
  .col-md-12 {
    width: calc((100% / 12 * 12) - var(--gap));
    max-width: calc((100% / 12 * 12) - var(--gap));
  }

  /* Offset */

  .col-md-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-md-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-md-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-md-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-md-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-md-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-md-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-md-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-md-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-md-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-md-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-md-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}

/* Large */

@media screen and (min-width: 992px) {
  
  /* Columns */
  
  .col-lg {
    flex: 1 1 0;
    max-width: 100%;
  }
  
  .col-lg-1 {
    width: calc((100% / 12 * 1) - var(--gap));
    max-width: calc((100% / 12 * 1) - var(--gap));
  }
  
  .col-lg-2 {
    width: calc((100% / 12 * 2) - var(--gap));
    max-width: calc((100% / 12 * 2) - var(--gap));
  }
  
  .col-lg-3 {
    width: calc((100% / 12 * 3) - var(--gap));
    max-width: calc((100% / 12 * 3) - var(--gap));
  }
  
  .col-lg-4 {
    width: calc((100% / 12 * 4) - var(--gap));
    max-width: calc((100% / 12 * 4) - var(--gap));
  }
  
  .col-lg-5 {
    width: calc((100% / 12 * 5) - var(--gap));
    max-width: calc((100% / 12 * 5) - var(--gap));
  }
  
  .col-lg-6 {
    width: calc((100% / 12 * 6) - var(--gap));
    max-width: calc((100% / 12 * 6) - var(--gap));
  }
  
  .col-lg-7 {
    width: calc((100% / 12 * 7) - var(--gap));
    max-width: calc((100% / 12 * 7) - var(--gap));
  }
  
  .col-lg-8 {
    width: calc((100% / 12 * 8) - var(--gap));
    max-width: calc((100% / 12 * 8) - var(--gap));
  }
  
  .col-lg-9 {
    width: calc((100% / 12 * 9) - var(--gap));
    max-width: calc((100% / 12 * 9) - var(--gap));
  }
  
  .col-lg-10 {
    width: calc((100% / 12 * 10) - var(--gap));
    max-width: calc((100% / 12 * 10) - var(--gap));
  }
  
  .col-lg-11 {
    width: calc((100% / 12 * 11) - var(--gap));
    max-width: calc((100% / 12 * 11) - var(--gap));
  }
  
  .col-lg-12 {
    width: calc((100% / 12 * 12) - var(--gap));
    max-width: calc((100% / 12 * 12) - var(--gap));
  }

  /* Offset */

  .col-lg-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-lg-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-lg-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-lg-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-lg-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-lg-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-lg-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-lg-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-lg-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-lg-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-lg-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-lg-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}