body {
	background-color: navy;
	color: white;
}

.container {
	width: 85vh;
	padding: 1rem;
}

@media screen and (orientation: portrait) {
	.container {
		width: 100%;
		padding: .5rem;
	}
}

h1 {
	text-align: center;
}

.row.number>div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.pixel {
	border: 1px solid white;
}

.pixel::before {
	content: '';
	padding-bottom: 100%;
	display: block;
}

.row>.number {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}