/* DEBUG */

.debug .pixel {
	border: 1px solid white;
}

/* Common */

body {
	background-color: navy;
	color: white;
}

.container {
	width: 85vh;
	padding: 1rem;
}

@media screen and (orientation: portrait) {
	.container {
		width: 100%;
		padding: .5rem;
	}
}

h1 {
	text-align: center;
}

.row.number>div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.pixel::before {
	content: '';
	padding-bottom: 100%;
	display: block;
}

.row>.number {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pixel:hover {
	cursor: pointer;
}

/* .yes:hover {
	animation: resolve .2s linear 0s 1 forwards;
}

@keyframes resolve {
	100%{
		background-color: white;
	}
} */

.debug .resolve {
	text-align: center;
	font-size: 30px;
	background-color: aqua;
	color: black;
}

.resolve:hover {
	cursor: pointer;
}

.yes {
	transition: background-color .5s;
}

.resolve:active~.row>.yes{
	background-color: white;
}